<?xml version="1.0"?>
<launch>
	<!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
	<include file="$(find tbot_gazebo)/launch/start_world.launch">
		<arg name="world_file" value="$(find larm)/models/challenge-2.world" />
	</include>

    <include file="$(find tbot_gazebo)/launch/spawn_tbot.launch">
        <arg name="x" value="0.0" />
        <arg name="y" value="0.0" />
        <arg name="yaw" value="0.0" />
    </include>

    <!--node name="config" pkg="larm" type="configure_C2.py" /-->
</launch>
