<launch>

<node pkg="tf" type="static_transform_publisher" name="base_footprint_in_odom"
  args="2.3 4.0 0.01 0.8 0.0 0.0 /odom /base_footprint 80" />
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find move2)/rviz/test_move.rviz" />
  <node pkg="move2" type="move-to.py" name="gogogo" output="screen" />
</launch>
