<?xml version="1.0"?>
<launch>
	<arg name="name" default="b" />
	<arg name="x" default="0.0" />
	<arg name="y" default="0.0" />
	<arg name="roll" default="0.0"/>
	<arg name="pitch" default="0.0"/>
	<arg name="yaw" default="0.0"/>

<node name="Spawner4" pkg="gazebo_ros" type="spawn_model" output="screen" args="-file $(find larm)/models/coke_can/model.sdf -sdf -model $(arg name) -x $(arg x) -y $(arg y)" />
</launch>
