<?xml version="1.0"?>
<launch>
	<!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
	<include file="$(find turtlebot_gazebo)/launch/start_world.launch">
		<arg name="world_file" value="worlds/willowgarage.world" />
	</include>

    <include file="$(find larm)/launch/spawn_robot.launch">
        <arg name="x" value="0.0" />
        <arg name="y" value="0.0" />
        <arg name="yaw" value="0.0" />
    </include>
</launch>