<?xml version="1.0"?>
<launch>
	<include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
	
	<node name="laser" pkg="urg_node" type="urg_node"/>
	<node pkg="grp-jaune" name="move" type="move_bot.py" args="$(find grp-jaune)/script_turtlebot/move_bot.py" output="screen"/>
	<node pkg="grp-jaune" name="listener" type="listener_bot.py" args="$(find grp-jaune)/script_turtlebot/listener_bot.py" output="screen"/>
</launch>
