<?xml version="1.0"?>
<launch>
    <!--Lancement gmapping -->
  	<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping"/>

	<!--Lancement AMCL -->
	<!--<include file="$(find turtlebot_navigation_gazebo)/launch/amcl_demo.launch"/>-->

	<!-- Lancement Gazebo-->
	<include file="$(find larm)/launch/challenge-3.launch"/>

	<!-- Lancement Rviz-->
	<node pkg="rviz" type="rviz" name="rviz" args=" -d $(find grp-jaune)/rviz/challenge3_tbot.rviz"/>

	<!-- Script de déplacement autonome du robot-->
	<node pkg="grp-jaune" name="move" type="move_tbot.py" output="screen"/>
	<node pkg="grp-jaune" name="listener" type="listener_tbot.py" output="screen"/>

	<!-- Script d'info goals du robot-->
	<node pkg="grp-jaune" name="goal" type="move-to_tbot.py" output="screen"/>
	
	<!-- Paramètres-->
	<param name="/use_sim_time" value="true"/>
	<param name="DEBUG_MODE" type="bool" value="False" />
</launch>
