<launch>
<include file="$(find tbot_gazebo)/launch/start_world.launch">
		<arg name="world_file" value="$(find larm)/models/challenge-1.world" />
	</include>

    <include file="$(find tbot_gazebo)/launch/spawn_tbot.launch">
	    <arg name="x" value="-3.32" />
	    <arg name="y" value="-2.95" />
	    <arg name="yaw" value="2.86" />
    </include>
  <node pkg="larm1_slam" name="move" type="move.py" args="$(find larm1_slam)/scripts/move.py" output="screen">
  </node>
  <node pkg="larm1_slam" name="listener" type="listener.py" args="$(find larm1_slam)/scripts/listener.py" output="screen">
  </node>
  <param name="/use_sim_time" value="true"/>
  <param name="topic" value="base_scan"/>
</launch>
