<?xml version="1.0"?>
<launch>
	
	
	<include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
    	<include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch"/>
	<node name="Laser" pkg="urg_node" type="urg_node"/>
    	<node pkg="tf" type="static_transform_publisher" name="base_footprint_in_odom" args="0.15 0.0 0.0 0.0 0.0 1.0 /base_footprint /laser 100" />
    	<!--<remap from="scan" to="Laser_scan"/>-->
	
	

   	<!--Lancement gmapping -->
	<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping"/>
	
	<!--Lancement AMCL -->
	<!--<include file="$(find turtlebot_navigation_gazebo)/launch/amcl_demo.launch"/>-->

	<!-- Lancement Gazebo-->
	<!--<include file="$(find larm)/launch/challenge-3.launch"/>-->

	<!-- Lancement Rviz-->
	<node pkg="rviz" type="rviz" name="rviz" />

	<!-- Script de déplacement autonome du robot-->
	<node pkg="grp-jaune" name="listener" type="listener_tbot.py" output="screen"/>
	<node pkg="grp-jaune" name="move" type="move_tbot.py" output="screen"/>
	

	<!-- Script de détection bouteille-->
	<node pkg="grp-jaune" name="bottle" type="vision_bottle.py" output="screen"/>

	
	<!-- Paramètres-->
	<param name="DEBUG_MODE" type="bool" value="True" />
	<param name="VIDEO_VIEWER_MODE" type="bool" value="True" />
</launch>
