<?xml version="1.0"?>
<launch>
	<include file="$(find larm)/launch/challenge-3.launch"/>
	
	<!--Lancement gmapping -->
 <!-- 	<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping"/> -->

  	<node pkg="map_server" type="map_server" name="map_server" args="$(find larm)/map/mymap.yaml"/>
  	
  	<node pkg="amcl" type="amcl" name="amcl"/>
	<!-- Lancement Rviz-->
	<node pkg="rviz" type="rviz" name="rviz" args=" -d $(find grp-jaune)/rviz/challenge3_tbot.rviz"/>

	<!-- Run move base -->
	<node pkg="move_base" name="move_base" type="move_base" output="screen" respawn="false"/>
		<rosparam file="$(find turtlebot_navigation_gazebo)/param/move_base_params.yaml" command="load"/>
		<rosparam file="$(find turtlebot_navigation_gazebo)/param/costmap_common_params.yaml" command="load" ns="global_costmap"/>
		<rosparam file="$(find turtlebot_navigation_gazebo)/param/costmap_common_params.yaml" command="load" ns="local_costmap"/>
		<rosparam file="$(find turtlebot_navigation_gazebo)/param/local_costmap_params.yaml" command="load" ns="local_costmap"/>
		<rosparam file="$(find turtlebot_navigation_gazebo)/param/global_costmap_params.yaml" command="load" ns="global_costmap"/>
		<rosparam file="$(find turtlebot_navigation_gazebo)/param/dwa_local_planner_params.yaml" command="load" ns="local_costmap"/>
		<rosparam file="$(find turtlebot_navigation_gazebo)/param/global_planner_params.yaml" command="load" ns="global_costmap"/>
		
	<param name="/use_sim_time" value="true"/>
</launch>
