<launch>

  <!--On lance notre fichier python -->
  <node pkg="grp-jaune" name="challenge2" type="challenge2.py" output="screen"/>
  
  <!--On lance gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping"/>
  
  <!--On lance rviz qui a une configuration donnée -->
  <node pkg="rviz" type="rviz" name="rviz" args=" -d $(find grp-jaune)/src/data/challenge2.rviz"/>

  <param name="/use_sim_time" value="true" />
  
  
</launch>
