<launch>

  <include file="$(find my_teleop)/launch/keyboard_teleop.launch"/>
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" args="scan:=base_scan" output="screen"> 
  </node>
  <node pkg="stage_ros" type="stageros" name="stageros" args="$(find stage_ros)/world/willow-erratic.world">
  </node>
  <node pkg="rviz" type="rviz" name="stageros_rviz" args="$(find larm1_slam)/rviz/launchrviz.rviz">
  </node>
  <node pkg="larm1_slam" name="move" type="move.py" args="$(find larm1_slam)/scripts/move.py">
  </node>
  <param name="/use_sim_time" value="true"/>
  
</launch>
